# Core
requests
python-dotenv
tqdm
colorama

# 01 Downloader
yt-dlp
playwright
hf_xet

# Transcriber
torch
torchaudio
sentencepiece
huggingface_hub
transformers
accelerate
soundfile
deepmultilingualpunctuation
numpy

# Editor
google-genai

# I hate this thing but it's cool
# uv pip install llama-cpp-python --force-reinstall --no-cache-dir --extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cu124 

# Validator
pandas
sentence-transformers
py-readability-metrics
